#quote-generator {
    width: 300px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid var(--borders);
    background-color: var(--content-background);
    
    > h3 {
        padding: 10px 0;
        width: 100%;
        text-align: center;
        
        border-bottom: 2px solid var(--borders);
        color: var(--content-background);
        background-color: var(--highlight-background);
    }

}

#quote {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    color: var(--text);
}

#new-quote {
    width: 100%;
    margin-top: auto;
    padding: 10px 20px;
    text-align: center;

    border-top: 2px solid var(--borders);
    background-color: var(--highlight-background);

    > button {
        padding: 10px;
        border-radius: 12px;

        color: var(--text);
        border: 2px solid var(--content-background);
        background-color: var(--main-background);
    }
}