#tip-calculator {
    width: 300px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border: 2px solid var(--borders);
    background-color: var(--content-background);

    .adjustment {
        height: 1px;
        width: 14px;
    }

    > h3 {
        padding: 10px 0;
        border-bottom: 2px solid var(--borders);
        background-color: var(--highlight-background);
        color: var(--content-background);
        width: 100%;
        text-align: center;
    }

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        > div {
            display: flex;
            gap: 5px;

            > input[type=number] {
                width: 150px;
            }
        }
    }

    > * {
        color: var(--text);
    }
}

#tip-results {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    width: 100%;
    margin-top: auto;
    padding: 10px 20px;

    color: var(--content-background);
    border-top: 2px solid var(--borders);
    background-color: var(--highlight-background);
}
