#tip-calculator {
    width: 300px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */

    background-color: cadetblue;

    > h3 {
        padding: 10px 0;
        border-bottom: 2px solid black;
        width: 100%;
        text-align: center;
    }
}

#tip-results {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    width: 100%;
    margin-top: auto;
    padding: 10px 20px;

    border-top: 2px solid black;
    background-color: antiquewhite;
}
